.container {
  display: flex;
  flex-direction: column;
  margin: 40px;
  max-width: 800px;
  height: 100vh;
}

.description {
  line-height: 25px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
