.container {
  @media (max-width: 486px) {
    display: flex;
    margin: 0 5px;
    justify-content: space-between;
  }
}

.hamburger {
  @media (min-width: 486px) {
    display: none;
  }
}

.logo {
  display: block;
  width: 200px;
  margin-bottom: 50px;
  @media (max-width: 498px) {
    margin: 0;
  }
}

.mainnav {
  height: 100%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  // margin-right: 20px;
  padding: 20px;
  @media (max-width: 498px) {
    display: none;
  }

  a {
    font-family: 'Lato', sans-serif;
    line-height: 1.6em;
    text-transform: none;
    letter-spacing: 0em;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    display: block;
    padding: 0.2em;
  }

  a:hover {
    color: orange;
  }

  a:focus {
    color: orange;
    font-weight: 900;
  }
}
